
/*Configurações Gerais*/
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  background-color: #403846;
}
/*cor purple*/
.container{
  background-color: #A01FF0;
}

/*Configurações do HEADER*/
header{
  background-color: white;
}

header .container{
  background-color: white;
}

.nav-link{
  font-size: 1.3rem;
}

